.Header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

.HeaderGroup{
    display: flex;
    padding-left: 64px;
    padding-right: 64px;
    height: 84px;
    align-items: center;
    justify-content: space-between;
}


.LinkGroup{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.LinkGroup a{
    font-size: 20px;
    color: black;
}

.LinkGroup a:hover{
    /*text-decoration: underline;*/
    border-bottom: 1px solid #000000
}

@media (max-width: 480px) {

    .HeaderGroup {
        height: 56px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .LinkGroup {
        width: 188px;
    }

    .LinkGroup a {
        font-size: 14px;
    }

    .Logo {
        width: 40%;
    }

}