@import url('https://fonts.googleapis.com/css?family=Philosopher|Work+Sans|Noto+SC');

body{
  font-family: 'Philosopher', 'Work Sans', 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

img{
  display: block;
}

a{
  text-decoration: none;
}

.Hero{
  background-color: #FFD194;
}

.HeroGroup{
  padding-top: 192px;
}

.HeroImg{
  background: url('../images/museum.jpg');
  background-size: 100%;
  width: 960px;
  height: 560px;
  margin: 0 auto;
  background-position: center;
  border: 80px solid white;
}